<div class="wrap">
 <nav id="redirectListNav">
   <ul>
     <li><a class="<?=$redirectList ?? ''?>"  href="?page=gf-redirects&action=redirectList">Redirect list</a></li>
     <li><a class="<?=$redirectCreate ?? ''?>" href="?page=gf-redirects&action=redirectCreateForm">
             <?=$_GET['redirectId']? 'Edit redirect' : 'Add new redirect'?></a></li>
   </ul>
 </nav>
    <div id="notificationBox">
        <p class="<?=$class ?? ''?>"><?=$msg ?? ''?></p>
    </div>
</div>
