<div class="wrap">
    <h2><?=$title?></h2>
    <div id="formErrors">

    </div>
    <form id="redirectCreateForm" method="post" action="<?=$formAction ?? '#'?>">
        <input type="hidden" name="redirectId" value="<?=$redirectId ?? ''?>">
        <div class="group">
            <label>
                From
                <input value="<?=$from ?? ''?>" autocomplete="off" name="from" type="url">
            </label>
            <label>
                To
                <input value="<?=$to ?? ''?>" autocomplete="off" name="to" type="url">
            </label>
        </div>
        <label>
            Status code
            <select name="statusCode">
                <option <?=$selected301 ?? ''?> value="301">301</option>
                <option <?=$selected302 ?? ''?> value="302">302</option>
            </select>
        </label>
        <label>
            Active/inactive
            <select name="active">
                <option <?=$selectedActive ?? ''?> value="1">Active</option>
                <option <?=$selectedInactive ?? ''?> value="0">Inactive</option>
            </select>
        </label>
        <button type="submit">Save</button>
        <?php if (isset($showDeleteButton)):?>
            <button class="deleteButton" type="button">Obriši</button>
        <?php endif;?>
    </form>
</div>