<div class="wrap redirectAdminPage">
    <table id="redirectList" class="striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Status Code</th>
                <th>Active</th>
                <th>User</th>
                <th>Created At</th>
                <th>Updated At</th>
         </tr>
        </thead>
    </table>
</div>

