.active{
    font-weight: bold;
    text-decoration: underline !important;
}
#redirectList tbody tr {
    cursor: pointer;;
}
#redirectListNav {
    text-align: center;
    background-color: #4267B2;
    padding: 10px 0px;
}
#redirectListNav li {
    display: inline;
    font-size: 18px;
    margin: 10px;
}
#redirectListNav li a{
    color: white;
    text-decoration: none;
}
#redirectCreateForm .group input{
    width: 15%;
}
#redirectCreateForm .group, label select{
    margin-bottom: 10px;
}
#redirectCreateForm button:first-of-type {
    background-color: #4267B2;
    color:white;
    padding: 10px 30px;
}
#redirectCreateForm .deleteButton{
    background-color: #d9534f;
    color:white;
    margin-left: 108px;
    padding: 10px 30px;
}
#notificationBox{
    text-align: center;
}
#notificationBox p {
    display: inline-block;
    padding: 10px 50px;
}
.success {
    background-color: #5cb85c;
    color: white;
}
.error {
    background-color: #d9534f;
    color: white;
}
#formErrors {
    width: max-content;
}
#formErrors p {
    padding: 5px 10px;
}